<h1>LIST:</h1>

In [ ]:
subjects = ['History', 'Math', 'Physics', 'CS']

In [ ]:
print(subjects) 
#Prints all the elements of the list

['History', 'Math', 'Physics', 'CS']

In [ ]:
print(len(subjects))
#Prints number of elements in list

4

In [ ]:
print(subjects[0])
#Prints the 1st element (History)

History

In [ ]:
print(subjects[-1])
#Prints the last element (History)

CS

In [ ]:
print(subjects[:2])
#Prints the 1st & 2nd element (History)
print(subjects[:2])

['History', 'Math']
['History', 'Math']

In [ ]:
subjects.append('DS')
#Adds the item at the end of the list
print(subjects)

['History', 'Math', 'Physics', 'CS', 'DS']

In [ ]:
subjects.insert(0,'DBMS')
#Adds the item at index 0
print(subjects)

['DBMS', 'History', 'Math', 'Physics', 'CS', 'DS']

In [ ]:
subjects_2 = ['Art', 'Design', 'Chemistry']

In [ ]:
#subjects.insert(0,subjects_2)
#print(subjects)
#Let's try to add elements of subject_2 to subjects
#it got added as a seperate list in element 0, rather than splitting the items in subject_2 then adding them

In [ ]:
subjects.extend(subjects_2)
print(subjects)
#Adds each element seperately to subject_2 at the end of the list

['DBMS', 'History', 'Math', 'Physics', 'CS', 'DS', 'Art', 'Design', 'Chemistry']

In [ ]:
subjects.remove('Math')
#Finds & Removes Math from the list
print(subjects)

['DBMS', 'History', 'Physics', 'CS', 'DS', 'Art', 'Design', 'Chemistry']

In [ ]:
popped = subjects.pop()
#Removes the last item in the list

print(subjects)

print(popped)
#Grabs the popped item

['DBMS', 'History', 'Physics', 'CS', 'DS', 'Art', 'Design']
Chemistry

In [ ]:
subjects.reverse()
#Reverses the list
print(subjects)

['Design', 'Art', 'DS', 'CS', 'Physics', 'History', 'DBMS']

In [ ]:
subjects.sort()
#Sorts the list in alphabetical order
print(subjects)

num_list = [2,6,4,5,3,1]
num_list.sort()
print(num_list)

['Art', 'CS', 'DBMS', 'DS', 'Design', 'History', 'Physics']
[1, 2, 3, 4, 5, 6]

In [ ]:
print(min(num_list))
print(max(num_list))
print(sum(num_list))

1
6
21

In [ ]:
print(subjects.index('CS'))
#Returns the index value of the item

1

In [ ]:
print('Art' in subjects)
#Checks weather the item is present in the list or not

True

In [ ]:
for item in subjects:
    print(item)
#Prints each item in new line

Art
CS
DBMS
DS
Design
History
Physics

In [ ]:
for index,subject in enumerate(subjects):
    print(index,subject)
#Print the items along with index numbers starting from 0. this is done by enumerate() function

0 Art
1 CS
2 DBMS
3 DS
4 Design
5 History
6 Physics

In [ ]:
for index,subject in enumerate(subjects,start=1):
    print(index, subject)
#Print the items along with index numbers starting from 1. this is done by enumerate() function

1 Art
2 CS
3 DBMS
4 DS
5 Design
6 History
7 Physics

In [ ]:
subject_str = ' - '.join(subjects)
print(subject_str)
#turns list into '-' seperated string

Art - CS - DBMS - DS - Design - History - Physics

In [ ]:
new_list = subject_str.split('-')
print(new_list)
#Creates the list, just reverse of .join()

['Art ', ' CS ', ' DBMS ', ' DS ', ' Design ', ' History ', ' Physics']



<h1>Tuple: </h1>
Doesn't have much supported functions as of list because tuple is immutable

In [ ]:
tup_1 = ('History', 'Math', 'Physics', 'CS')

In [ ]:
tup_1[0] = 'Art'

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(tup_1)

('History', 'Math', 'Physics', 'CS')

In [ ]:
#Only supports that functions that doesn't mutate the list




<h1>SETS: </h1>
Doesn't care about order & dumps away duplicate item

In [ ]:
cs_courses = {'DS','DBMS','History','Math','Physics'}

In [ ]:
#Changes order every time the code executes

In [ ]:
print('Math' in cs_courses)
#Checks membership in the set

True

In [ ]:
art_courses = {'History','Math','Art','Design'}

In [ ]:
print(cs_courses.intersection(art_courses))
#Returns common items in both sets

{'Math', 'History'}

In [ ]:
print(cs_courses.difference(art_courses))

#Returns the items not present in second set

{'DS', 'DBMS', 'Physics'}

In [ ]:
print(cs_courses.union(art_courses))

#Prints all the items from both sets dropping the duplicate items in a new set

{'Math', 'History', 'Physics', 'DS', 'Design', 'Art', 'DBMS'}

In [ ]:
#Empty List
empty_list = []
empty_list = list()

In [ ]:
#Empty Tuples
empty_tuple = ()
empty_tuple = tuple()

In [ ]:
#Empty sets
empty_set = {} #This will create an empty dictionary instead of empty sets
empty_set = set()




# Dictionary:-

#### Playing with Key:Value pairs

In [ ]:
student = {'name':'harsh', 'age':25, 'course':['Math','Physics']}

In [ ]:
print(student) 
#prints dictionary with keys & values

{'name': 'harsh', 'age': 25, 'course': ['Math', 'Physics']}

In [ ]:
print(student['name'])
#Prints values of specified key & gives error on the absence of the key

harsh

In [ ]:
print(student.get('phone'))
#Prints values of specified key & doesn't gives error on the absence of the key

None

In [ ]:
#Let's add a phone no to our dictionary
student['phone'] = '999-9999'

In [ ]:
student['name'] = 'akshit'
print(student)
#update a key

{'name': 'akshit', 'age': 25, 'course': ['Math', 'Physics'], 'phone': '999-9999'}

In [ ]:
#Updating various keys in a single line of code

student.update({'name':'harsh',
               'age': 21,
               'phone': '111-1111'})
print(student)

{'name': 'harsh', 'age': 21, 'course': ['Math', 'Physics'], 'phone': '111-1111'}

In [ ]:
#Prints keys from the dictionary

print(student.keys())

dict_keys(['name', 'age', 'course', 'phone'])

In [ ]:
#Prints valuess from the dictionary

print(student.values())

dict_values(['harsh', 21, ['Math', 'Physics'], '111-1111'])

In [ ]:
#Iterates and prints only keys from the dictionary

for key in student:
    print(key)

name
age
course
phone

In [ ]:
#Iterates and prints only keys from the dictionary

for key, in student:
    print(key)